<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description> Countingconnectedusers </description>
        <listener-class> com.mycompany.guessthenumber.SessionCounter </listener-class>
    </listener>
    <servlet>
        <servlet-name>DevineLeNombre</servlet-name>
        <servlet-class>com.mycompany.guessthenumber.DevineLeNombre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DevineLeNombre</servlet-name>
        <url-pattern>/DevineLeNombre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
